.bg {
  &-black {
    background: $col-black;
  }
  &-bg {
    background: $col-bg;
  }
  &-grey {
    background: $col-grey;
  }
  &-grey-l {
    background: $col-grey-l;
  }
  &-red {
    background: $col-red;
  }
  &-orange {
    background: $col-orange;
  }
  &-yellow {
    background: $col-yellow;
  }
  &-green {
    background: $col-green;
  }
  &-turq {
    background: $col-turq;
  }
  &-blue {
    background: $col-blue;
  }
  &-purple {
    background: $col-purple;
  }
}
.bg-h {
  &-bg {
    transition: $transition-main;
    &:hover {
      background: $col-bg;
    }
  }
  &-grey {
    transition: $transition-main;
    &:hover {
      background: $col-grey;
    }
  }
  &-grey-l {
    transition: $transition-main;
    &:hover {
      background: $col-grey-l;
    }
  }
  &-red {
    transition: $transition-main;
    &:hover {
      background: $col-red;
    }
  }
  &-orange {
    transition: $transition-main;
    &:hover {
      background: $col-orange;
    }
  }
  &-yellow {
    transition: $transition-main;
    &:hover {
      background: $col-yellow;
    }
  }
  &-green {
    transition: $transition-main;
    &:hover {
      background: $col-green;
    }
  }
  &-turq {
    transition: $transition-main;
    &:hover {
      background: $col-turq;
    }
  }
  &-blue {
    transition: $transition-main;
    &:hover {
      background: $col-blue;
    }
  }
  &-purple {
    transition: $transition-main;
    &:hover {
      background: $col-purple;
    }
  }
}
.border {
  &-white {
    border: $size-border solid $col-white;
  }
  &-bg {
    border: $size-border solid $col-bg;
  }
  &-grey {
    border: $size-border solid $col-grey;
  }
  &-grey-l {
    border: $size-border solid $col-grey-l;
  }
  &-red {
    border: $size-border solid $col-red;
  }
  &-orange {
    border: $size-border solid $col-orange;
  }
  &-yellow {
    border: $size-border solid $col-yellow;
  }
  &-green {
    border: $size-border solid $col-green;
  }
  &-turq {
    border: $size-border solid $col-turq;
  }
  &-blue {
    border: $size-border solid $col-blue;
  }
  &-purple {
    border: $size-border solid $col-purple;
  }
}
.frame {
  &-white {
    border: $size-frame solid $col-white;
  }
  &-bg {
    border: $size-frame solid $col-bg;
  }
  &-grey {
    border: $size-frame solid $col-grey;
  }
  &-grey-l {
    border: $size-frame solid $col-grey-l;
  }
  &-red {
    border: $size-frame solid $col-red;
  }
  &-orange {
    border: $size-frame solid $col-orange;
  }
  &-yellow {
    border: $size-frame solid $col-yellow;
  }
  &-green {
    border: $size-frame solid $col-green;
  }
  &-turq {
    border: $size-frame solid $col-turq;
  }
  &-blue {
    border: $size-frame solid $col-blue;
  }
  &-purple {
    overflow: hidden;
    border: $size-frame solid $col-purple;
  }
}
.shadow {
  &-bg {
    box-shadow: $size-shadow $col-bg;
  }
  &-grey {
    box-shadow: $size-shadow $col-grey;
  }
  &-grey-l {
    box-shadow: $size-shadow $col-grey-l;
  }
  &-red {
    box-shadow: $size-shadow $col-red;
  }
  &-orange {
    box-shadow: $size-shadow $col-orange;
  }
  &-yellow {
    box-shadow: $size-shadow $col-yellow;
  }
  &-green {
    box-shadow: $size-shadow $col-green;
  }
  &-turq {
    box-shadow: $size-shadow $col-turq;
  }
  &-blue {
    box-shadow: $size-shadow $col-blue;
  }
  &-purple {
    box-shadow: $size-shadow $col-purple;
  }
}
.shadow-h {
  &-bg {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-bg;
    }
  }
  &-grey {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-grey;
    }
  }
  &-grey-l {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-grey-l;
    }
  }
  &-red {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-red;
    }
  }
  &-orange {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-orange;
    }
  }
  &-yellow {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-yellow;
    }
  }
  &-green {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-green;
    }
  }
  &-turq {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-turq;
    }
  }
  &-blue {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-blue;
    }
  }
  &-purple {
    transition: $transition-main;
    &:hover,
    &:focus {
      box-shadow: $size-shadow $col-purple;
    }
  }
}
.color {
  &-black {
    color: $col-black;
  }
  &-bg {
    color: $col-bg;
  }
  &-grey {
    color: $col-grey;
  }
  &-grey-l {
    color: $col-grey-l;
  }
  &-red {
    color: $col-red;
  }
  &-orange {
    color: $col-orange;
  }
  &-yellow {
    color: $col-yellow;
  }
  &-green {
    color: $col-green;
  }
  &-turq {
    color: $col-turq;
  }
  &-blue {
    color: $col-blue;
  }
  &-purple {
    color: $col-purple;
  }
}
.scroll {
  &-grey-l {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-grey-l;
    }
  }
  &-red {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-red;
    }
  }
  &-orange {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-orange;
    }
  }
  &-yellow {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-yellow;
    }
  }
  &-green {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-green;
    }
  }
  &-turq {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-turq;
    }
  }
  &-blue {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-blue;
    }
  }
  &-purple {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5dvh;
    }
    &::-webkit-scrollbar-track {
      background: $col-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $col-purple;
    }
  }
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
